@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Mochiy+Pop+P+One&family=Montserrat:wght@300;400;700&family=Open+Sans:ital,wght@1,300&family=Roboto:ital,wght@1,300&display=swap');

.App {
  text-align: center;

}

.card {
  
  width: 100px;
  border: 5px solid rgb(187, 140, 176);
  padding: 50px;
  margin: 20px;
}
h2 {
  background-color: rgb(185, 109, 170);
padding: 0;
margin: auto;
height: 50px;
font-family: 'Mochiy Pop P One', sans-serif;

}


